.container_c {
  top: 2rem;
  right: 0;
  width: 22rem;
  height: 14rem;
  background-color: white;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
}